@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
.App {
  text-align: center;
}
.align-right{ text-align: right;}
.search{
  margin-top: 30px;
}

.form-item{
  padding-bottom:15px;
}
